/* créditos: tutorial de criação de um site com html e css - Easy Tutorials */
*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(imagens-site/campus-insper.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav img{
    width: 320px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(6, 81, 212);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    
}

.hero-btn:hover{
    border: 1px solid rgb(6, 81, 212);
    background: rgb(6, 81, 212);
    transition: 0.7s;
}

nav.fa{
    display: none;
}

#desc{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 20px;
    background-color: #1f1f1f;
}

h1{
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
}

h3{
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;

}

p{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 12px;
}


/*-----Modos de Jogo-----*/

.modos{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
    background-color: #1f1f1f;
    
}

.modos > * {
    margin: 0 20px; /* Adiciona um espaçamento entre cada modo */
}

.video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    ;
}
.rect_amarelo{
    border: solid 5px rgba(255, 255, 0, 0.725);
    background-color: rgba(255, 255, 0, 0.085);
    padding: 10px;
}

.rect_azul{
    border: solid 5px rgba(0, 149, 255, 0.725); 
    background-color: rgba(0, 145, 255, 0.07); 
    padding: 10px;
}

.rect_verde{
    border: solid 5px rgba(0, 255, 0, 0.725); 
    background-color: rgba(0, 255, 0, 0.07); 
    padding: 10px;
}

/*-----Log-----*/

#log{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    
    
}
.desenvolvimento > * {
    margin: 0 20px; /* Adiciona um espaçamento entre cada integrante */
}
.desenvolvimento{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1f1f1f;
}
.rect_preto_log{
    border: solid 5px #0000009c; 
    background-color: #2a2929; 
    padding: 10px;
    display: flex;
    gap: 20px;

}
.Logs{
    width: 100%;
    margin: auto;
    text-align: left;
    padding-top: 20px;
    padding-right: 50px;
   
    
}

/*-----Equipe-----*/

#equipe{
    width: 100%;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 20px;
    background-color: #303030;
    
}
.integrantes{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #303030;
}
.integrantes > * {
    margin: 0 20px; /* Adiciona um espaçamento entre cada integrante */
}
.integrantes button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: solid 2px #3b3a3a;
    background: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.integrantes button:hover{
    background: rgb(6, 81, 212);
    color: #fff;
    border-color: rgb(6, 81, 212);
    transition: 0.7s;
}
.equipe h4{
    margin-bottom: 25px;
    margin-top: 20px;

    font-weight: 600;
}


/*-----Download-----*/
#download{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #303030;

} 
#download button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: rgb(6, 81, 212);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
#download button:hover{
    background: rgb(14, 9, 157);
    color: #fff;
    transition: 0.5s;
}
.rect_preto_download{
    border: solid 5px #0000009c; 
    background-color: #2a2929; 
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    text-align: justify;
    
}
.rect_preto_download a{
    color: aqua;
}

.rect_preto{
    border: solid 5px #0000009c; 
    background-color: #2a2929; 
    padding: 10px;
}

.rect_preto img{
    width: 200px;
    height: 200px;
}

.rodape{
    width: 100%;
    text-align: left;
    background-color: #1f1f1f;
    display: flex;
    padding: 20px ;
}
.rodape img{
    width: 320px;
    padding-left: 2%;
}

.rodape p{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    padding-left: 1155px;
}